.navigation{
    background: white;
}

.navigation .navbar{
    padding: 8px 30px;
    display: flex;
    justify-content: space-between;
}

.profile{
    width: 36px;
    height: 36px;
    background-image: url(../../Assets/Images/profile.png);
    background-position: center center;
}

.navigation-icon a{
    margin-right: 20px;
}

.navigation-icon a img{
    width: 32px;
}
